* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("./images/bgplayer1.jpg");

  user-select: none;
}
.menubutton{
  height: 50px;
  aspect-ratio: 1;
  background: url("./images/fullscreenbutton.png");
  position: fixed;
  border: 1px solid white;
  top: 20px;
  right: 10px;
  z-index: 200;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.menubuttonspan{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 90;
  background: rgba(0, 0, 0, 0.249);
  display: none;
}
.sidemenu{
  height: 100vh;
  width: 200px;
  background: url("./images/bgplayer2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  transform: translateX(200px);
  transition: 0.3s;
}
.sidemenubuttons{
  height: 50px;
  width: 100%;
  border: 1px solid white;
  background: url("./images/fullscreenbutton.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.startmenu{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: url("./images/startmenubg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* display: none; */
}
.startbutton{
  position: absolute;
  height:15vh;
  aspect-ratio: 16/9;
  background: url("./images/startbutton.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 10vh;
  left: calc(50% - 13vh);
}
/*  */
.winmenu{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: green;
  background-size: cover;
  background-position: top;
  display: none;

}
.winfloatmenu{
  position: absolute;
  height: 50vh;
  width: 50vw;
  bottom: 0;
  left: calc(50% - 25vw);
  display: flex;
  flex-direction: column;
}
.winname{
height: 50%;
display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
font-size: 7vh;
text-shadow: 2px 2px 1px black;
}
.playagainbutton{
  height: 30%;
  aspect-ratio: 16/9;
  align-self: center;
  background: url("./images/playagain2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hoverscale{
  transition: 0.3s;
}
.hoverscale:hover{
  transform: scale(1.2);
}
.winmenugreeting{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background: url("./images/winscreenbg.gif");
  background-size: cover;
  background-position: center;
  pointer-events: none;
}
/*  */
.game {
  display: flex;
  flex-direction: column;
}
.board {
  align-self: center;
  justify-self: center;
  height: 70vh;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
.section {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
}
.finishsection {
  flex-direction: row-reverse;
}
.bigbox {
  height: calc(15vh - 20px);
  aspect-ratio: 16/9;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.assembleplayer1 {
  background: url("./images/player1.jpeg");
}
.assembleplayer2 {
  background: url("./images/player2.png");
}
.assembleplayer3 {
  background: url("./images/player3.jpg");
}
.assembleplayer4 {
  background: url("./images/player4.jpg");
}
.assemble {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.dicebox{
  height: 15vh;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dicebox>p{
  color: white;
  text-shadow: 2px 2px 0px black;line-height: 0px;
}
.dice {
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid;
  background: url("./images/dice1.jpg");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5vh;
  
}
.dice1 {
  border: 3px solid rgb(0, 255, 0);
}
.tile {
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tileteleport{
  height: 100%;
  width: 100%;
  background: url("./images/teleport.png");
  background-position: center;
  background-size: cover;
  animation: resize 1s infinite alternate;
  position: absolute;
}
.dangertile{
  height: 100%;
  width: 100%;
  background: url("./images/danger.png");
  background-position: center;
  background-size: cover;
  animation: rotate 10s infinite linear;
  position: absolute;
}
@keyframes resize{
  0%{transform: scale(1)}
  100%{transform: scale(1.2)}
}
@keyframes rotate{
  0%{transform: rotateZ(0deg);}
  100%{transform: rotateZ(-360deg);}
}
/* palyers */
.player1 {
  background: url("./images/player1.jpeg");
}
.player2 {
  background: url("./images/player2.png");
}
.player3 {
  background: url("./images/player3.jpg");
}
.player4 {
  background: url("./images/player4.jpg");
}
.player {
  position: absolute;
  --x: 0%;
  --y: 0%;
  top: var(--y);
  left: var(--x);
  height: calc(70vh / 10);
  aspect-ratio: 1;
  border-radius: 50%;
  box-sizing: border-box;
  --steps: 1;
  transition: 1s 1s steps(var(--steps));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  z-index: 5;
}

/*  */
@media screen and (min-aspect-ratio: 1/1) {
  .game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .board {
    height: 100vh;
  }
  .section {
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
  }
  .finishsection {
    flex-direction: column;
  }
  .bigbox {
    height: 65vh;
    aspect-ratio: 7/16;
    align-self: center;
    flex-direction: column;
  }
  .assemble {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dicebox{
    height: 16vh;
  }
  .dice {
    height: 100%;
    aspect-ratio: 1 !important;
  }
 

  .player {
    height: calc(100vh / 10);
  }
}
